*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f6f8f9;
    font-family: 'Roboto', sans-serif;
}

.box{
    background-color: white;
    padding: 20px 10px;
}
h1{
    font-size: 43px;
    display: inline-block;
    vertical-align: middle;
}
.logo{
    vertical-align: middle;
}

main{
    width: 800px;
    margin: 0 auto;
    background-color: white;
    margin-top: 24px;
    padding: 15px 25px;
}

button{
    font-size: 15px;
    padding: 7px;
    border-radius: 7px;
    color: #c4cbd0;
    border: none;
}
.add-task{
    background-color: #14aaf5;
    color: white;
}
