*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f6f8f9;
    font-family: 'Roboto', sans-serif;
}

.box{
    background-color: white;
    padding: 20px 10px;
}
h1{
    font-size: 43px;
    display: inline-block;
    vertical-align: middle;
}
.logo{
    vertical-align: middle;
}


main{
    width: 800px;
    margin: 0 auto;
    background-color: white;
    margin-top: 24px;
    padding: 15px 40px;
}

/*---------
Bottoni 
----------*/
button{
    font-size: 15px;
    padding: 7px;
    border-radius: 7px;
    color: #c4cbd0;
    border: 1px solid lightgrey;
    background-color: white;
}
.add-task{
    background-color: #14aaf5;
    color: white;
    border: none;
}
.pulsanti{
    margin-bottom: 30px;
    border-bottom: 2px solid  #f6f8f9;
    padding: 10px;
}
/*---------
Fine Bottoni 
----------*/

.new-task{
    margin-bottom: 30px;
}
.today{
    margin-bottom: 30px;
}

/*---------
 Spunte
 ---------*/
.spunta-v{
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 3px solid #a8e7dc;
    border-radius: 100%;
    color: #a8e7dc;
    text-align: center;
    line-height: 100%;
    margin-right: 5px;
}
.spunta-x{
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 3px solid red;
    border-radius: 100%;
    color: red;
    text-align: center;
    line-height: 100%;
    margin-right: 5px;
}
/*---------
 /fine Spunte
 ---------*/



.editorial{
    display: inline-block;
    background-color: #09a9ed;
    padding: 5px 9px;
    border-radius: 12px;
    color: white;
    font-size: 12px;
    margin-bottom: 7px;
}
.q1-goals{
    display: inline-block;
    background-color: #ab5de6;
    padding: 5px 9px;
    border-radius: 12px;
    color: white;
    font-size: 12px;
    margin-bottom: 7px;
}
.q1-goals{
    display: inline-block;
    background-color: #ab5de6;
    padding: 5px 9px;
    border-radius: 12px;
    color: white;
    font-size: 12px;
    margin-bottom: 7px;
}
.recruiting{
    display: inline-block;
    background-color: #2cc6ab;
    padding: 5px 9px;
    border-radius: 12px;
    color: white;
    font-size: 12px;
    margin-bottom: 7px;
}
.mobile{
    display: inline-block;
    background-color: #ff9b00;
    padding: 5px 9px;
    border-radius: 12px;
    color: white;
    font-size: 12px;
    margin-bottom: 7px;
}
